<div class="container vh-100 d-flex flex-column justify-content-center align-items-center">
  <h1>URL Shortener</h1>
  <div style="height: 250px; width:250px">
    <a href="/"><img style="width: 100%"
        src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
        alt="URL Shortener"></a>
  </div>
  <p>Success! Please use this link:</p>
  <a id="url_transform" href="/{{url_transform}}">http://{{host}}/{{url_transform}}</a>
  <button onclick="copyUrl()" type="button" class="btn btn-primary">Copy</button>
</div>